/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__container {
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  text-align: center;
  position: relative;
  background-color: rgb(71, 178, 255);
  padding: 30px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  position: absolute;
  border: none;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.modal__close:focus {
  outline: 0;
}

.modal__content {
  margin-top: 10px;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);
}

.modal__container {
  width: 60%;
  height: 85%;
}

.modal-title {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

.modal-role {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.modal-description {
  margin-top: 20px;
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  padding: 0px 30px 0px 30px;
}

.modal-small-link {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease-out !important;
}



.modal-small-link:hover {
  color: rgb(47, 47, 47);
  transform: translate(0, -1px) !important;
}

.modal-image-container {
  display: flex;
  justify-content: center;
}

.modal-image {
  margin-top: 20px;
  width: 534px;
  height: 300px
}

#macbook {
  margin-top: 0px;
  width: 590px;
  height: 360px;
}

#sq {
  padding: 0px 20px 0px 20px;
  width: 350px;
  height: 350px;
}

#iphone {
  margin-top: 10px;
  width: 233px;
  height: 350px;
}

#page {
  width: 270px !important;
  height: 360px !important;
  padding: 20px 5px 0px 5px;
}

.modal-video {
  margin-top: 20px;
  width: 580px;
  height: 330px
}

/**************************\
  Demo Animation Style
\**************************/

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container, .micromodal-slide .modal__overlay {
  will-change: transform;
}
