.page-header {
  background-color: rgb(71, 178, 255);
  padding: 20px;
}

.page-body {
  margin: 0 10% 0 10%;
}

.page-back {
  text-decoration: none;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 50px;
  transition: color 0.3s;
}

.page-back:hover {
  color: rgb(232, 232, 232);
}

.page-title {
  color: white;
  margin: 0px;
  margin-top: 20px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 125px;
  text-align: center;
}

.page-role {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
}

.page-tagline {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}

#button {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Fira Sans', sans-serif;
  color: white;
  transition: background-color 0.3s;
}

#button:hover {
  color: rgb(71, 178, 255);
  background-color: white;
}

.carousel-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#main-carousel {
  background-color: lightgrey;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#main-carousel:before, #maincarousel-gif:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

#main-carousel:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.item {
  width: 800px !important;
  height: 450px !important;
}

.carousel-img {
  width: 100% !important;
  height: 100% !important;
}

.page-quote-background {
  background-color: rgb(71, 178, 255);
  padding: 50px;
  margin: 50px 75px 50px 75px;
}

.page-large-quote {
  color: white;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 60px;
  text-align: left;
  max-width: 75%;
}

.page-quote-author {
  color: white;
  margin: 0px;
  margin-top: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  margin-right: 15%;
}

.page-normal-text {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 50px 150px 50px 150px;
}

.page-small-title {
  color: #323232;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin: 50px 150px 50px 150px;
}

.page-list {
  margin: 50px 150px 50px 150px;
  list-style: disc;
}

.page-list-item {
  color: #323232;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.large-gif-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.large-gif {
  display: block;
  max-width: 1000px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin: 25px 25px 25px 25px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.large-gif:before, .large-gif:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.large-gif:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}