
body, html {
  margin: 0px;
}
.navbar {
  display: flex;
  position: relative;
  padding: 20px 10px 20px 10px;
  justify-content: flex-end;
  list-style: none;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 2px;
  background-position: white;
}

#nav-logo {
  max-width: 40px;
}
.navbar-item {
  margin: 0px 20px 0px 20px;
}

.navbar-item-logo {
  position: absolute;
  left: 20px;
  top: 4px;
}

.navbar-heading {
  text-decoration: none;
  color: #8c8c8c;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-heading:hover {
  color: rgb(32, 32, 32);
}

.bio-box {
  background-color: rgb(71, 178, 255);
  z-index:-1;
  padding: 30px 40px 30px 40px;
  display: flex;
  justify-content: space-between;
}

.bio-text {
  margin-top: 20px;
  width: 50%
}

#resume-button {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: 'Fira Sans', sans-serif;
  color: white;
  transition: color 0.3s, background-color 0.3s;
}

#resume-button:hover {
  color: rgb(71, 178, 255);
  background-color: white;
}

#bio-intro {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 60px;
}

#bio-description {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
}
#bio-text {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.bio-pic {
  width: 50%;
  overflow: visible;
  text-align: center;
}

#justin-pic {
  width: 300px;
  box-shadow: 0 0px 10px rgb(255, 255, 255);
  margin-left: 20px;
}

.title-wrapper {
  position: relative;
}

.section-title {
  color: #616161;
  margin: 60px 40px 20px 40px;
  padding-left: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.section-number {
  position: absolute;
  top: -15px;
  left: 50px;
  height: 60px;
  z-index: -1;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 20px 80px 20px 80px;
}

#about-image {
  margin-right: 50px;
}

#about-text {
  color: #616161;
  margin-top: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#about-outdoor {
  width: 300px;
}

/* Portfolio */

#highlights {
  color: #616161;
  margin: 0px;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 40px;
  text-align: center;
}
