
body, html {
  margin: 0px;
}

.body-wrapper {
  margin: auto;
  max-width: 1000px;
  background-color: white;
}

nav {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #e4e4e4;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar {
  max-width: 1000px;
  display: flex;
  position: relative;
  padding: 20px 10px 20px 10px;
  justify-content: flex-end;
  list-style: none;
  z-index: 1;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-position: white;
}


.nav-up {
  top: -61px;
}

#nav-logo {
  max-width: 40px;
}

.navbar-item {
  margin: 0px 20px 0px 20px;
}

.navbar-item-logo {
  position: absolute;
  left: 30px;
  top: 4px;
}

.navbar-heading {
  display: inline-block;
  text-decoration: none;
  color: #8c8c8c;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s !important;
}

.sub-heading {
  padding-left: 30px !important;
  font-size: 16px !important;
}

.portfolio {
  cursor: default;
  transform: none !important;
  font-style: italic;
}

.navbar-heading:hover {
  color: rgb(32, 32, 32);
  transform: translate(0, -2px) !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 62px;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  border-left: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
  box-shadow: 0px 8px 16px 0px rgba(60,60,60,0.1);
  z-index: 1;
}

.side-bar-show {
  left: 2% !important;
}

.side-bar {
  position: fixed;
  top: 20%;
  left: -15%;
  max-width: 200px;
  /* border-left: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  border-right: 2px solid #e4e4e4;
  box-shadow: 0px 8px 16px 0px rgba(60,60,60,0.1); */
  z-index: 1;
  transition: left 0.3s ease-in-out;
}

.side-bar a {
  float: none;
  color: #8c8c8c;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-area {
  display: none;
  position: absolute;
  top: 40px;
  height: 50px;
  width: 130px;
}

/* .dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-area:hover .dropdown-content{
  display: block;
}
.dropdown:hover .dropdown-area{
  display: block;
} */


.dropdown-content a {
  float: none;
  color: #8c8c8c;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.bio-box {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  z-index: -1;
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.bio-box-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding-left: 50px;
}

.bio-text {
  margin-top: 0px;
  width: 70%;
}

/* .contact-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  margin-top: 40px;
} */

.contact-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}

.contact-link {
  padding: 10px;
}


#resume-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

#resume-link:hover {
  color: rgb(71, 178, 255);
}

#resume-button {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin-left: 0;
  margin-top: 50px;
  height: 49px;
  font-family: 'Fira Sans', sans-serif;
  color: white;
  transition: background-color 0.3s;
  margin-right: 30px;
}

#resume-button:hover {
  color: rgb(71, 178, 255);
  background-color: white;
}

#see-resume {
  margin: 0px;
  padding: 15px 25px 15px 25px;
}

#bio-intro {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 100px;
}

#bio-description {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

/* #links {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
} */

#bio-main {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#main-logo-sidebar {
  padding: 10px 0px 0px 18px;
}

#bio-text {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#bio-bold {
  font-weight: 600;
}

.bio-pic {
  width: 50%;
  overflow: visible;
  text-align: center;
}

/* #justin-pic {
  width: 300px;
  box-shadow: 0 0px 10px rgb(255, 255, 255);
  margin-left: 20px;
} */

/* Contact Me */

/* .contact-link {
  padding: 0px 30px 0px 30px;
  text-align: center;
} */

.contact-link {
  padding: 40px 50px 20px 50px;
  text-align: center;
}

.contact-icon {
  text-decoration: none;
  font-size: 50px;
  color: white;
  display: inline-block;
  transition: color 0.3s, transform 0.3s !important;
}

.contact-icon:hover {
  color: #e8e8e8;
  transform: translate(0, -3px) !important;
}

.title-wrapper {
  position: relative;
  text-align: center;
  margin: auto;
}

.projects-background {
  position: relative;
}

.section-title {
  color: #616161;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.section-number {
  position: absolute;
  top: -15px;
  left: 47.5%;
  height: 80px;
  z-index: 1;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}

#about-image {
  margin-right: 50px;
}

#about-text {
  color: #616161;
  margin-top: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  max-width: 550px;
  padding-left: 30px;
}

#about-outdoor {
  width: 300px;
}

.skills {
  width: 50%;
}

.skill-title {
  color: #616161;
  margin: 20px 40px 20px 0px;
  padding-left: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.skill-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.skill {
  background-color: rgb(71, 178, 255);
  color: white;
  padding: 15px;
  margin: 0px 10px 0px 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
}

/* Portfolio */

.project-section {
  width: 100%;
}
.project-section-title {
  color: #616161;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: -10px;
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  font-style: italic;
}

.project-hr {
  margin-top: 20px;
  border-top: 1px solid #616161;
  width: 90%;

}

.stic-link {
  text-decoration: none;
}

.project-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}

.large-project-card {
  border: 2px solid rgb(232, 232, 232);
  border-radius: 10px;
  background-color: white;
  padding: 50px 50px 50px 50px;
  max-width: 800px;
  transition: transform 0.3s ease-out !important;

}

.large-project-card:hover {
  transform: scale(1.025, 1.025) !important;
}

/* .project-background#left {
  width: 70%;
  height: 100%;
  background-color: rgb(71, 178, 255);
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 0px;
}

.project-background#right {
  width: 70%;
  height: 100%;
  background-color: rgb(71, 178, 255);
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 165px;
} */

/* #left-project {
  justify-content: flex-start;
  padding-left: 20%;
}

#right-project {
  justify-content: flex-end;
  padding-right: 20%;
} */

.project-card-header {
  display: flex;
  justify-content: space-between;
}

.project-title {
  color: #616161;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.project-role {
  color: #616161;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.keys-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  margin: 0px;
  padding: 0px;
}

.key {
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

/* Project Keys */

#ux {
  background-color: rgb(16, 127, 224);
}

#ui {
  background-color: rgb(169, 27, 255);
}

#react {
  background-color: rgb(0, 192, 195);
}

#js {
  background-color: rgb(27, 175, 0);
}

#sketch-figma {
  background-color: rgb(247, 35, 35);
}

#illustrator {
  background-color: rgb(72, 46, 232);
}

#research {
  background-color: rgb(205, 1, 1);
}

#marketing {
  background-color: rgb(35, 134, 157);
}

#prototyping {
  background-color: rgb(254, 45, 255);
}

#after-effects {
  background-color: rgb(27, 203, 131);
}

#product {
  background-color: rgb(238, 177, 31);
}

#ar {
  background-color: rgb(241, 93, 93);
}

#design-thinking {
  background-color: rgb(37, 49, 255);
}

#c {
  background-color: rgb(0, 173, 4);
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.project-description {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 60%;
}

.project-photo {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link {
  text-decoration: none;
}
.project-img {
  width: 200px;
}

.see-more-button {
  width: 100px;
  height: 35px;
  padding: 10px 20px 0px 20px;
  border-radius: 20px;
  margin-top: 30px;
  text-align: center;
}

#lor {
  background: rgb(0, 124, 252);
}

#unmasked {
  background: rgb(39, 100, 103);
}

#stic {
  background: rgb(50, 115, 175);
}

#colorpeace{
  background: rgb(122, 126, 217);
}

#mastercard-logo {
  max-width: 180px;
  position: relative;
  top: 10px;
  margin: 0px 5px 0px -1px;
}

#microsoft-logo {
  max-width: 150px;
  top: 8px;
  position: relative;
  margin: 0px 0.5px 0px 3px;
}

#study-text{
  margin-bottom: 0px;
}

#experience-text{
  margin-top: 0px;
}


.project-link-text {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: color 0.3s;
  margin: auto;
}


/* Other projects */

.other-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px 10% 0px 10%
}

.small-project-card {
  background-color: white;
  background-size: contain;
  margin: 50px 25px 50px 25px;
  width: 300px;
  height: 300px;
  transition: opacity 0.3s;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

div.small-project-card, div.small-project-card > * {
    // CSS Property
    pointer-events: none;
}

.small-project-card {
  transition: transform 0.3s ease-out !important;

}

.small-project-card:hover {
  transform: translate(0, -5px) !important;
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

#seabird {
  border: 2px solid rgb(232, 232, 232);
}

.small-project-card:hover>.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.60;
}

.small-project-card:hover>.small-text-wrapper {
  opacity: 1;
}

.small-text-wrapper {
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0px;
}

.small-text {
  transform: translate(0%, 20%);
  height: 80%;
  padding: 0px 20px 0px 20px;
}

.smallish-text {
  transform: translate(0%, 20%);
  height: 80%;
  padding: 0px 16px 0px 16px;
}

.smaller-title {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;

}
.small-title {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.small-role {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#small-keys-list {
  justify-content: flex-start;
}

.small-key {
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.small-product-description {
  color: #616161;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  max-height: 100px;
  overflow: hidden;
}

.coming-soon {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  padding: 50px;
}

.adventures-section {
  margin: 60px 0px;
}

.adventure-wrapper {
  padding: 0 20px;
  position: relative;
}

.adventure-container {
  position: relative;
  max-width: 85%;
  padding: 0 5%;
  margin: auto;
}

.adventure-container:after {
  content:"";
  background: rgb(224, 224, 224);
  position: absolute;
  top: 5px;
  left: 0;
  height: 100%;
  width: 4px;
}

#first-container:after {
  top: -40px;
  height: 120%;
}

.adventure-text {
  padding: 20px 0px;
  padding-top: 50px;
}

.adventure-text:after {
  content:"";
  background: rgb(71, 178, 255);
  position: absolute;
  top: 58px;
  left: -9px;
  height: 22px;
  width: 22px;
  border-radius: 22px;
  z-index: 1;
}

.hidden-overlay {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#first-text {
  padding-top: 0px !important;
}

#first-text:after {
  top: 5px;
  height: 21px;
  width: 21px;
  border-radius: 21px;
}

.adventure-title {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.adventure-sub {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-top: 10px;
}

.adventure-photos {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  max-width: 100%;
}

.adventure-column {
  flex: 100%;
  max-width: 50%;
}

.adventure-column img {
  margin: 10px 0px;
  max-width: 95%;
  vertical-align: middle;
  transition: transform 0.3s ease-out !important
}

.adventure-column img:hover {
  transform: scale(1.025, 1.025) !important;
}

.footer {
  color: #8c8c8c;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

@media only screen and (max-width: 1320px) {
  #dropdown-btn:active {
    cursor: default;
  }

  #dropdown-btn:active ~ .dropdown-content {
    display: block !important;
  }

  #nav-logo {
    max-width: 40px;
  }



  .navbar-heading {
    display: inline-block;
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s !important;
  }

  .navbar-heading:hover {
    color: rgb(32, 32, 32);
    transform: translate(0, -2px) !important;
  }

  nav {
    display: block;
  }

  .side-bar {
    display: none;
  }

  nav {
    position: fixed;
    background-color: white;
    z-index: 2;
    border-bottom: 2px solid #e4e4e4;
  }

  .navbar {
    width: 100%;
    display: flex;
    list-style: none;
    z-index: 1;
    margin: auto;
    background-position: white;
  }

  .bio-box {
    padding: 80px 20px 40px 20px;
  }

  .bio-text{
    width: 100%;
  }

  #bio-intro {
    font-size: 60px;
  }

  #bio-description {
    font-size: 30px;
  }







}

@media only screen and (max-width: 385px) {
  #bio-intro {
    font-size: 56px;
  }

  /* #links {
    justify-content: space-between !important;
    padding-top: 30px !important;
    width: 80% !important;
  } */

  #nav-logo {
    max-width: 35px !important;
  }

  .navbar {
    padding-right: 5px !important;
  }

  .navbar-item-logo {
    width: 35px !important;
  }

}



@media only screen and (max-width: 520px) {
  #bio-description {
    font-size: 28px;
  }

  .bio-box-wrapper {
    padding-top: 0px !important;
  }

  #resume-button {
    margin-top: 30px;
  }
  /* .contact-wrapper {
    flex-flow: row wrap;
  }

  #links {
    justify-content: space-between !important;
    padding-top: 20px;
  } */
}


@media only screen and (max-width: 640px) {
/*
  #links {
    justify-content: space-around;
    width: 80%;
  }

  .contact-link {
    padding: 0px;
  } */

  .contact-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  padding-top: 20px;
}

.contact-link {
  padding: 10px;
}

  .bio-box {
    padding-bottom: 10px;
  }


  .bio-box-wrapper {
    padding: 20px;
    /* max-width: 90%; */
    flex-flow: column;


  }

  .navbar-item-logo {
    position: relative;
    margin: auto;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .navbar-item {
    margin: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar {
    justify-content: space-around;
    padding: 0px;
  }



  .about {
    justify-content: center;
    flex-flow: column wrap;
    margin: auto;
    padding: 20px 30px 0px 30px;
  }

  #about-image {
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }


  #about-text {
    padding-left: 0px;
    margin: auto;
  }

  .project-wrapper {
    padding-bottom: 0;
  }
  .large-project-card {
    padding: 25px;
  }

  .project-card-header {
    flex-flow: row wrap;
  }

  .project-card-content {
    margin-top: 20px;
    justify-content: center;
    flex-flow: row wrap-reverse;
  }

  .project-role {
    margin-bottom: 10px;
  }

  .project-keys {
    width: 100%;
  }
  .keys-list {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .see-more-button {
    margin: auto;
    margin-bottom: 20px;
  }

  .project-description {
    width: 100%;
  }

  .project-photo {
    width: 100%;
  }

  .small-project-card {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .small-text{
    height: 70%;
  }

  .adventure-container {
    padding-left: 30px;
    margin: auto;
  }

  .adventure-text {
    padding-top: 10px;
  }

  .adventure-column {
    flex-flow: column;
    max-width: 100%;
  }

  .adventure-text:after {
    top: 18px;
  }

  #first-text:after {
    top: 9px;
  }

  .footer {
    font-size: 14px;
  }
}
