body, html {
  margin: 0px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 15px rgb(126, 126, 126);
  z-index: 1;
}

.navbar {
  display: flex;
  position: relative;
  padding: 20px 10px 20px 10px;
  justify-content: flex-end;
  list-style: none;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 2px;
  background-position: white;
}

#nav-logo {
  max-width: 40px;
}

.navbar-item {
  margin: 0px 20px 0px 20px;
}

.navbar-item-logo {
  position: absolute;
  left: 30px;
  top: 4px;
}

.navbar-heading {
  text-decoration: none;
  color: #8c8c8c;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
}

.navbar-heading:hover {
  color: rgb(32, 32, 32);
}

.bio-box {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  z-index: -1;
  padding: 100px 100px 100px 100px;
  display: flex;
  justify-content: space-between;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.bio-text {
  margin-top: 20px;
  width: 50%
}

#resume-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

#resume-link:hover {
  color: rgb(71, 178, 255);
}

#resume-button {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin-left: 20%;
  margin-top: 50px;
  font-family: 'Fira Sans', sans-serif;
  color: white;
  transition: background-color 0.3s;
}

#resume-button:hover {
  color: rgb(71, 178, 255);
  background-color: white;
}

#see-resume {
  margin: 0px;
  padding: 15px 25px 15px 25px;
}

#bio-intro {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 100px;
}

#bio-description {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

#bio-text {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.bio-pic {
  width: 50%;
  overflow: visible;
  text-align: center;
}

/* #justin-pic {
  width: 300px;
  box-shadow: 0 0px 10px rgb(255, 255, 255);
  margin-left: 20px;
} */

/* Contact Me */

.contact-link {
  padding: 40px 50px 20px 50px;
  text-align: center;
}

.contact-icon {
  text-decoration: none;
  font-size: 50px;
  color: white;
  transition: color 0.3s;
}

.contact-icon:hover {
  color: #d7d7d7;
}

.title-wrapper {
  position: relative;
  text-align: center;
  margin: auto;
}

.projects-background {
  position: relative;
}

.section-title {
  color: #616161;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.section-number {
  position: absolute;
  top: -15px;
  left: 47.5%;
  height: 80px;
  z-index: -1;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.about {
  max-width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}

#about-image {
  margin-right: 50px;
}

#about-text {
  color: #616161;
  margin-top: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  max-width: 500px;
  padding-left: 30px;
}

#about-outdoor {
  width: 300px;
}

.skills {
  width: 50%;
}

.skill-title {
  color: #616161;
  margin: 20px 40px 20px 0px;
  padding-left: 30px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.skill-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.skill {
  background-color: rgb(71, 178, 255);
  color: white;
  padding: 15px;
  margin: 0px 10px 0px 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
}

/* Portfolio */

.project-section {
  width: 100%;
}

.project-wrapper {
  position: relative;
  display: flex;
  margin: auto;
}

.large-project-card {
  background-color: #f0f0f0;
  padding: 50px 50px 50px 50px;
  width: 70%;
  margin: 50px 0px 50px 0px;
}

/* .project-background#left {
  width: 70%;
  height: 100%;
  background-color: rgb(71, 178, 255);
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 0px;
}

.project-background#right {
  width: 70%;
  height: 100%;
  background-color: rgb(71, 178, 255);
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 165px;
} */

#left-project {
  justify-content: flex-start;
  padding-left: 20%;
}

#right-project {
  justify-content: flex-end;
  padding-right: 20%;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
}

.project-title {
  color: #616161;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.project-role {
  color: #616161;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.keys-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  margin: 0px;
  padding: 0px;
}

.key {
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

/* Project Keys */

#ux {
  background-color: rgb(16, 127, 224);
}

#ui {
  background-color: rgb(169, 27, 255);
}

#react {
  background-color: rgb(0, 192, 195);
}

#js {
  background-color: rgb(27, 175, 0);
}

#sketch-figma {
  background-color: rgb(247, 35, 35);
}

#illustrator {
  background-color: rgb(72, 46, 232);
}

#research {
  background-color: rgb(205, 1, 1);
}

#marketing {
  background-color: rgb(35, 134, 157);
}

#prototyping {
  background-color: rgb(254, 45, 255);
}

#after-effects {
  background-color: rgb(27, 203, 131);
}

#product {
  background-color: rgb(238, 177, 31);
}

#design-thinking {
  background-color: rgb(37, 49, 255);
}

#c {
  background-color: rgb(0, 173, 4);
}

.project-card-content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.project-description {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  width: 60%;
}

.project-photo {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 200px;
}

.project-link {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: color 0.3s;
}

.project-link:hover {
  color: rgb(47, 47, 47);
}

/* Other projects */

.other-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px 10% 0px 10%
}

.small-project-card {
  background-color: white;
  background-size: contain;
  margin: 50px 25px 50px 25px;
  width: 300px;
  height: 300px;
  transition: opacity 0.3s;
  position: relative;
  cursor: pointer;
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
}

.small-project-card:hover>.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.60;
}

.small-project-card:hover>.small-text-wrapper {
  opacity: 1;
}

.small-text-wrapper {
  transition: opacity 0.5s;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0px;
}

.small-text {
  transform: translate(0%, 20%);
  height: 100%;
  padding: 0px 20px 0px 20px;
}

.small-title {
  color: white;
  margin: 0px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.small-role {
  color: white;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#small-keys-list {
  justify-content: flex-start;
}

.small-key {
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.small-product-description {
  color: #616161;
  margin-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  max-height: 100px;
  overflow: hidden;
}

.coming-soon {
  color: #616161;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  padding: 50px;
}

.footer {
  background-color: rgb(71, 178, 255);
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin: 0px;
}